*{
    font-family: "Inter", sans-serif;
}
body{
    background: #0a0c1b;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fave{
    background: #1c1938;
    width: 80%;
    min-height: 70vh;
    border-radius: 5px;
    box-shadow: 0 0 5PX #000;
    position: relative;
    display: flex;
}

.fave .img {
    flex: 1;
    background-image: linear-gradient(rgba(183, 75, 216, 0.39),rgba(183, 75, 216, 0.39)),url(images/image-header-desktop.jpg);
    background-size: cover;
    border-radius: 5px;
}

.fave .text {
    flex: 1;
    color: white;
    margin: 50px;
    font-size: 20px;
}
.text p{
    font-size: 15px;
}
.fave .text span{
    color: #aa5dda;
}
.hp{
    color: white;
    display: flex;
    gap: 70px;
    font-size: 12px;
    transform: translateY(50px)
}

@media only screen and (max-width: 600px){
    .fave {
        flex-direction: column-reverse;
    }
    .img{
        flex: unset !important;
        height: 500px;
    }
    .hp{
        flex-direction: column;
        gap: 5px;
        display: flex;
        align-items: center;
    }
}